<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur5e" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur_e_description)/urdf/common.gazebo.xacro" />

  <xacro:include filename="$(find ur_e_description)/urdf/ur5e.urdf.xacro" />

  <!-- arm -->
  <xacro:arg name="kinematics_config" default="$(find ur_e_description)/config/ur5e_default.yaml"/>
  <xacro:ur5e_robot prefix="" joint_limited="true"
	shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}"
	shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
	elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
	wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
	wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
	wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
	transmission_hw_interface="$(arg transmission_hw_interface)"
	kinematics_file="${load_yaml('$(arg kinematics_config)')}"
  />


  <xacro:include filename="$(find robotiq_2f_140_gripper_visualization)/urdf/robotiq_arg2f_140_model_macro.xacro" />

  <xacro:macro name="ee_robot" params="prefix">

	<xacro:robotiq_arg2f_140 prefix="${prefix}gripper_" />


	<joint name="${prefix}tool0-${prefix}gripper_robotiq_arg2f_base_link" type="fixed">
	  <origin xyz="0 0 0" rpy="0 0 0" />
	  <parent link="${prefix}tool0" />
	  <child link="${prefix}gripper_robotiq_arg2f_base_link" />
	</joint>
   </xacro:macro>
  <xacro:ee_robot prefix=""/>

  <plugin name="ros_control" filename="libgazebo_ros_control.so" />


  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
